<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avessodapele"
        tools:targetApi="31">
        <activity
            android:name=".Abarca"
            android:exported="false" />
        <activity
            android:name=".Devolta"
            android:exported="false" />
        <activity
            android:name=".Oavesso"
            android:exported="false" />
        <activity
            android:name=".Apele"
            android:exported="false" />
        <activity
            android:name=".Marta"
            android:exported="false" />
        <activity
            android:name=".Pedro"
            android:exported="false" />
        <activity
            android:name=".Henrique"
            android:exported="false" />
        <activity
            android:name=".Tempo"
            android:exported="false" />
        <activity
            android:name=".Personagens"
            android:exported="false" />
        <activity
            android:name=".autor"
            android:exported="false" />
        <activity
            android:name=".sinopse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>